<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests">
    <listeners>
        <listener class-name="Listeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="TitleTest">
        <classes>
            <class name="HomePageTitleTest"/>
        </classes>
    </test>
    <test name="NavigationTest">
        <classes>
            <class name="NavigationBarTest"/>
        </classes>
    </test>
    <test name="HomePageTest">
        <classes>
            <class name="HomePageTest"></class>
        </classes>
    </test>
</suite>